@font-face {
  font-family: "Monterchi";
  src: url("font/monterchi-book.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  src: url("font/gillSans.otf");
  font-weight: normal;
  font-style: normal;
}
/*CSS Reset*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

/* Variables */

/* Black */
:root {
  --white: #f9f9f9;
  --black: #1d1d1d;
  --grey: #767676;
  --red: #bd0000;
}

body {
  font-size: 17px;
}

h2 {
  font-family: "Monterchi", sans-serif;
}

/*----- HEADER -----*/
header {
  width: 100%;
  background: var(--black);
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 3px 0px var(--black);
}
.nav {
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
}
.menu a {
  font-family: "Monterchi";

  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  margin: 0 25px;
  cursor: pointer;
}

.menu a:hover {
  color: var(--red);
}
.nav__search {
  position: absolute;
  right: 55px;
}
.img__search {
  margin-right: 55px;
}

/*----- Banner ------*/

.banner {
  height: 821px;
  width: 100%;
  background: url(images/ob_868210_millie-bobbie.jpeg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.banner::before {
  content: "";
  background: rgba(44, 39, 39, 0.4);
  position: absolute;
  height: 821px;
  width: 100%;
}
.banner__content {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  padding: 40px;

  width: 1149px;
  height: 340px;
  border: 2px solid var(--white);
}

.banner h1 {
  font-family: "Monterchi", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 82px;
  line-height: 107px;
  /* identical to box height */

  font-feature-settings: "pnum" on, "lnum" on;
}
.banner p {
  margin-top: 25px;
  width: 580px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;
}
.banner h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 27px;
  font-size: 17px;
}
